/.metadata
/.recommenders
/COS30018Assignment/bin
COS30018Assignment/APDescription.txt
COS30018Assignment/MTPs-Main-Container.txt
*.txt
COS30018Assignment/.settings/org.eclipse.jdt.core.prefs
COS30018Assignment/.classpath
.project
COS30018Assignment/UML.mdj
